.venv
__pycache__
*.faiss
*.arrow
data/knowledge_doc.csv
runs/pkchat
data/FoCus/pkchat/
data/checkpoints/pkchat/checkpoint_1.pth
data/FoCus/train_focus.json
data/FoCus/valid_focus.json

data/knowledge_index/knowledge_dataset